/*----------------------------------------------------------------*/
/*----------------------------Généralités-------------------------*/
/*----------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

/*----------------------------------------------------------------*/
/*------------------------Header----------------------------------*/
/*----------------------------------------------------------------*/

header {
    display: block;
    text-align: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: beige;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}


/*----------------------------------------------------------------*/
/*----------------------------Body--------------------------------*/
/*----------------------------------------------------------------*/

section {

}

#section1 {

}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 0px) and (max-width: 799px) {
    header {
        display: none;
    }
}