/*---------------------------------------------------------------*/
/*------------------------GENERALITES----------------------------*/
/*---------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
 }

h1 {
    text-align: center;
}

.row {
    margin: 0;
    width: 100%;
}

.row > * {
    display: inline-block;
}

/*---------------------------------------------------------------*/
/*------------------------MAINIMAGE------------------------------*/
/*---------------------------------------------------------------*/

#main-sabrina {
    width: 450px;
    margin-left: calc(50% - 225px);
}

/*---------------------------------------------------------------*/
/*------------------------NAVIGATION-----------------------------*/
/*---------------------------------------------------------------*/

#menu-bouton-test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.test-size {
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 120px;
    margin: 0 15px 10px;
}

/*---------------------------------------------------------------*/
/*------------------------INTRODUCTION---------------------------*/
/*---------------------------------------------------------------*/

#introduction {
    padding: 25px;
    text-align: justify;
}

/*---------------------------------------------------------------*/
/*------------------------BLOC ARTICLE---------------------------*/
/*---------------------------------------------------------------*/

.bloc-article {
    margin: 10px;
    background-color: grey;
    border: 1px solid black;
}

.icon-sabrina {
    width: 200px;
    float: left;
    margin: 10px
}

.paragraphe1, .paragraphe2, .paragraphe3 {
    text-align: justify;
    margin: 10px;
}