/*---------------------------------------------------------------*/
/*------------------------SMALL SCREEN---------------------------*/
/*---------------------------------------------------------------*/

@media screen and (min-width: 700px) {

    .col-sm-1 {
        width: calc(100%/12);
    }

    .col-sm-2 {
        width: calc(200%/12);
    }

    .col-sm-3 {
        width: calc(300%/12);
    }

    .col-sm-4 {
        width: calc(400%/12);
    }

    .col-sm-5 {
        width: calc(500%/12);
    }

    .col-sm-6 {
        width: calc(600%/12);
    }

    .col-sm-7 {
        width: calc(700%/12);
    }

    .col-sm-8 {
        width: calc(800%/12);
    }

    .col-sm-9 {
        width: calc(900%/12);
    }

    .col-sm-10 {
        width: calc(1000%/12);
    }

    .col-sm-11 {
        width: calc(1100%/12);
    }

    .col-sm-12 {
        width: calc(1200%/12);
    }

/*---------------------------------------------------------------*/
/*---------------------------OFFSET------------------------------*/
/*---------------------------------------------------------------*/

    .offset-sm-1 {
        margin-left: calc(100%/12);
    }
    .offset-sm-2 {
        margin-left: calc(200%/12);
    }
    .offset-sm-3 {
        margin-left: calc(300%/12);
    }
    .offset-sm-4 {
        margin-left: calc(400%/12);
    }
    .offset-sm-5 {
        margin-left: calc(500%/12);
    }
    .offset-sm-6 {
        margin-left: calc(600%/12);
    }
    .offset-sm-7 {
        margin-left: calc(700%/12);
    }
    .offset-sm-8 {
        margin-left: calc(800%/12);
    }
    .offset-sm-9 {
        margin-left: calc(900%/12);
    }
    .offset-sm-10 {
        margin-left: calc(1000%/12);
    }
    .offset-sm-11 {
        margin-left: calc(1100%/12);
    }
    .offset-sm-12 {
        margin-left: calc(1200%/12);
    }

}
